* {margin: 0; padding: 0;}
button {
    cursor: pointer;
    background: none;
    border: 0;
}
.wrap {
    padding: 3% 1%;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    max-width: 500px;
    margin: auto;
}
.moleList {
    margin: auto;
    border-radius: 10px;
    background: #9ec15e;
}
.moleList ol {
    display: grid; 
    grid-template-columns: repeat(5, 0fr);
    list-style: none;
}
.moleList li {
    width: 100px;
    height: 100px;
}
h1 {
    text-align: center;
    color: rgb(116, 78, 54);
}
h1 img {width: 50px;}
img {
    width: 100%;
    vertical-align: top;
}
.startEnd {
    padding-top: 3%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.startEnd button {
    border: 0;
    color: #fff;
    width: 70px;
    font-size: 1rem;
    border-radius: 10px;
    height: 40px;
    background: brown;
}
.moleScoreTime {
    padding-top: 4%;
    display: flex;
    justify-content: space-around;
}
.moleScoreTime button {
    color: #562706;
    font-size: 1.2rem;
}
.mole {
    height: 0;
    cursor: pointer;
    transition: transform 0.2s ease-in;
    transform: translateY(50%);
}
.mole.show {
    transform: translateY(0);
    height: 100px;
}
@media (max-width: 500px) {
    .wrap {padding: 10% 1%;}
    .moleList li {
        width: 60px; 
        height: 60px;
    }
    .mole {
        transform: translateY(20%);
    }
    .mole.show {
        transform: translateY(0);
        height: 60px;
    }
}